{% extends 'Base.html' %}

{% block content %}
<div class="container-fluid dis mt-3">

    <h3 class="pt-3"> Employee <span>  {{emp.count}} </span> </h3>
    
    {% for msg in messages%}
    
  <p class="alert alert-danger alert-dismissible mt-2"> {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </p>
    
    {% endfor %}
    <div class="table-responsive">
    <table class="table ">
        <thead>
          <tr class="table-danger">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">DOJ</th>
            <th scope="col">Department</th>
            <th scope="col">Post</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>
            <th scope="col">ZipCode</th>
            <th scope="col">State</th>
            <th scope="col">Active</th>
            <th scope="col">Leave count</th>
            <th scope="col">on leave</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for i in emp %}
          <tr>
            <th scope="row">{{i.Id}}</th>
            <td>{{i.Name|default:'NA'}}</td>
            <td>{{i.DOB|default:'NA'}}</td>
            <td>{{i.DOJ|default:'NA'}}</td>
            <td>{{i.Department|default:'NA'}}</td>
            <td>{{i.post|default:'NA'}}</td>
            <td>{{i.Address|default:'NA'}}</td>
            <td>{{i.City|default:'NA'}}</td>
            <td>{{i.Country|default:'NA'}}</td>
            <td>{{i.ZipCode|default:'NA'}}</td>
            <td>{{i.State|default:'NA'}}</td>
            <td>{{i.Active|default:'NA'}}</td>
            <td>{{i.Leave_count}}</td>
            <td>
              
              {% if i.on_leave == True %}
                <a href="{% url 'leave' i.Id %}" class="btn btn-success btn-sm">Leave</a>
                  
              {% else %}
              <a href="{% url 'leave' i.Id %}" class="btn btn-info btn-sm">Working</a>
                  
              {% endif %}
              </td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <a href="{% url 'Edit_Employee' i.Id %}" class="btn btn-warning btn-sm my-1 me-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                Edit</a>
              <a href="{% url 'delete_view' i.Id %}"  class="btn btn-danger btn-sm my-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                </svg>
                Delete</a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>





{% endblock %}